In [54]:
from io import StringIO
import csv
import os

import pymysql

### Conectando con servidor MySQL

In [55]:
conexion = pymysql.connect(
   host='localhost',
   database='henry_m3',
   user='root',
   password='root'
)
cursor = conexion.cursor()

### Enunciado 1

In [86]:
sucursales = open('./Clase 01/Homework/Sucursales.csv', encoding='utf-8')
sucursal = []
for line in sucursales:
    line = line.strip()
    line = line.split(';')
    line = line[1:]
    sucursal.append(tuple(line))

sucursal_header = ['Sucursal','Direccion','Localidad','Provincia',
                        'Latitud','Longitud']
sucursal_info = sucursal[1:]

#sucursal_header, 
sucursal_info[1:5]

[('Palermo 1', 'Guatemala 5701', 'CABA', 'CABA', '-34,5790350', '-58,4335660'),
 ('Palermo 2',
  'Gral. Lucio Norberto Mansilla 2668',
  'CABA',
  'C deBuenos Aires',
  '-34,5959660',
  '-58,4051500'),
 ('Corrientes',
  'Av. Corrientes 2352',
  'Ciudad de Buenos Aires',
  'Bs As',
  '-34,6046850',
  '-58,3987640'),
 ('Almagro',
  'Venezuela 3650',
  'Capital',
  'Bs.As. ',
  '-34,6173080',
  '-58,4161790')]

In [87]:
#Mandando informaci√≥n de Sucursal a la tabla
cursor.execute("TRUNCATE TABLE sucursal")
query = 'INSERT INTO sucursal (sucursal, direccion, localidad, provincia, latitud, longitud) VALUES(%s,%s,%s,%s,%s, %s)'
cursor.executemany(query, sucursal_info)
conexion.commit()
conexion.close()

In [39]:
productos = open('./Clase 01/Homework/toupload/PRODUCTOS.tsv', encoding='utf-8')
producto = []
for line in productos:
    line = line.strip()
    line = line.split('\t')
    producto.append(tuple(line))

producto_info = producto[1:]

producto_info[1:5]

[('42754', 'MOT ASROCK H110M-HDS S1151 S/VGA', 'INFORMATICA', '1237,50'),
 ('42755', 'MOT ASROCK A58M-VG3+ AMD FM2+ R2.0', 'INFORMATICA', '1079,32'),
 ('42756', 'MOT ECS KAM1-I AM1', 'INFORMATICA', '638,66'),
 ('42757', 'MOT ASROCK B150M-HDS S1151 S/VGA', 'INFORMATICA', '1784,42')]

In [40]:
cursor.execute("TRUNCATE TABLE producto")
query = 'INSERT INTO producto (IDProducto, Concepto, Tipo, Precio2) VALUES(%s,%s,%s,%s)'
cursor.executemany(query, producto_info)
conexion.commit()
conexion.close()

In [60]:
empleados = open('./Clase 01/Homework/toupload/Empleados.tsv', encoding='utf-8')
empleado = []
for line in empleados:
    line = line.strip()
    line = line.split('\t')
    empleado.append(tuple(line))

empleado = empleado[1:]

len(empleado)

267

In [59]:
cursor.execute("TRUNCATE TABLE empleado;")
query = 'INSERT INTO empleado (IDEmpleado, Apellido, Nombre, Sucursal, Sector, Cargo, Salario2) VALUES(%s,%s, %s, %s,%s, %s, %s);'
cursor.executemany(query, empleado)
conexion.commit()
conexion.close()